FORMAT: 1A
HOST: https://my-joolz.nl/api/v1/

# Joolz Configurator

API to retrieve WooCommerce data for the new configurator.

Host is based on for which country this configurator will be.

## Models [/models]

### List All Models [GET]

To retrieve all available models.

The API returns a list with the default product
for each model.

+ Response 200 (application/json)

        [
            {
                "models": [
                    {
                        "id": 1,
                        "label": "Day²",
                        "default_variation": {
                            "id": 67955,
                            "name": "Joolz Day² Earth",
                            "price": 999,
                            "sku": "500030",
                            "attributes": [
                                {
                                    "slug": "pa_bekleding",
                                    "label": "Hippo grey"
                                }
                            ],
                            "cart_link": "/cart/?configurator=true&add-to-cart=67955&user-hash=xxx"
                        }
                    }, 
                    {
                        "id": 2,
                        "label": "Day³",
                        "default_variation": {
                            "id": 88641,
                            "name": "Joolz Day³ Earth",
                            "price": 999,
                            "sku": "510030",
                            "attributes": [
                                {
                                    "slug": "pa_bekleding-day3",
                                    "label": "Hippo grey"
                                }
                            ],
                            "cart_link": "/cart/?configurator=true&add-to-cart=88641&user-hash=xxx"
                        }
                    }, 
                    {
                        "id": 3,
                        "label": "Geo²",
                        "default_variation": {
                            "id": 74756,
                            "name": "Joolz Geo² Earth",
                            "price": 999,
                            "sku": "040005",
                            "attributes": [
                                {
                                    "slug": "pa_bekleding-earth-geo2",
                                    "label": "Parrot blue"
                                }, {
                                    "slug": "pa_geo2-configuratie",
                                    "label": "Mono"
                                }
                            ],
                            "cart_link": "/cart/?configurator=true&add-to-cart=74756&user-hash=xxx"
                        }
                    }, 
                    {
                        "id": 4,
                        "label": "Hub",
                        "default_variation": {
                            "id": 85903,
                            "name": "Joolz Hub Earth",
                            "price": 659,
                            "sku": "900000",
                            "attributes": [
                                {
                                    "slug": "pa_bekleding-earth-geo2",
                                    "label": "Hippo grey"
                                }
                            ],
                            "cart_link": "/cart/?configurator=true&add-to-cart=85903&user-hash=xxx"
                        }
                    }
                ]
            }
        ]

## Variations [/models/{id}/variations]

### List available variations [GET]

To retrieve all available variations.
Retrieving the variations requires 
the model ID.

+ Parameters

    + id - The ID of the model

+ Response 200 (application/json)

        {
            "variations": [
                {
                    "id": 67955,
                    "name": "Joolz Day² Earth",
                    "price": 999,
                    "sku": "500030",
                    "attributes": [
                        {
                            "pa_bekleding": "Hippo grey"   
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67955&user-hash=xxx"
                },
                {
                    "id": 67952,
                    "name": "Joolz Day² Earth",
                    "price": 999,
                    "sku": "500020",
                    "attributes": [
                        {
                            "pa_bekleding": "Camel beige"
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67952&user-hash=xxx"
                },
                {
                    "id": 67953,
                    "name": "Joolz Day² Earth",
                    "price": 999,
                    "sku": "500000",
                    "attributes": [
                        {
                            "pa_bekleding": "Parrot blue"
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67953&user-hash=xxx"
                },
                {
                    "id": 67954,
                    "name": "Joolz Day² Earth",
                    "price": 999,
                    "sku": "500010",
                    "attributes": [
                        {
                            "pa_bekleding": "Elephant grey"
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67954&user-hash=xxx"
                },
                {
                    "id": 67755,
                    "name": "Joolz Day² Studio",
                    "price": 1099,
                    "sku": "500099",
                    "attributes": [
                        {
                            "pa_bekleding": "Graphite grey"
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67755&user-hash=xxx"
                }
            ]
        }
        
## Accessories [/models/{id}/accessories]

### List available accessories [GET]

To retrieve all available accessories.
Retrieving the accessories requires 
the model ID.

+ Parameters

    + id - The ID of the model
    
+ Response 200 (application/json)

        {
            "accessories": [
                {
                    "id": 1234,
                    "name": "Joolz Bekerhouder",
                    "sku": "50121",
                    "price": 29.95,
                    "variations": [],
                    "cart_link": "/cart/?configurator=true&add-to-cart=1234&user-hash=xxx"
                },
                {
                    "id": 1235,
                    "name": "Joolz Slaapzak",
                    "sku": "",
                    "price": 0,
                    "variations": [
                        {
                            "id": 1236,
                            "price": 65,
                            "sku": "501221",
                            "attributes": [
                                {
                                    "pa_bekleding": "Elephant grey"
                                }
                            ],
                            "cart_link": "/cart/?configurator=true&add-to-cart=1235&user-hash=xxx"
                        },
                        {
                            "id": 1237,
                            "price": 99,
                            "sku": "501222",
                            "attributes": [
                                {
                                    "pa_bekleding": "Graphite grey"
                                }
                            ],
                            "cart_link": "/cart/?configurator=true&add-to-cart=1237&user-hash=xxx"
                        }
                    ],
                    "cart_link": ""
                }
                
            ]
        }