FORMAT: 1A
HOST: https://my-joolz.nl/api/v1/

# Joolz Configurator

API to retrieve WooCommerce data for the new configurator.

Host is based on for which country this configurator will be.

## Models [/models]

### List All Models [GET]

To retrieve all available models.

The API returns a list with the default product
for each model.

+ Response 200 (application/json)

        [
            {
                "models": [
                    {
                        "id": 4,
                        "label": "Hub",
                        "products": [
                            {
                                "id": 121,
                                "name": "Joolz Hub",    
                                "customize": 0,
                                "default": 1,
                                "attributes": [
                                    "pa_bekleding-hub"
                                ]
                            }
                        ]
                    },
                    {
                        "id": 1,
                        "label": "Day³",
                        "products": [
                            {
                                "id": 123,
                                "name": "Joolz Day³ Looks",    
                                "customize": 0,
                                "default": 1,
                                "attributes": [
                                    "pa_bekleding"
                                ]
                            },
                            {
                                "id": 1234,
                                "name": "Joolz Day³ Tailor",
                                "customize": 1,
                                "default": 0,
                                "attributes": [
                                    "pa_bekleding-day3",
                                    "pa_chassis-tailor-day2",
                                    "pa_wielen-day2",
                                    "pa_accent-tailor-day2"
                                ]
                            }
                        ]
                    },
                    {
                        "id": 3,
                        "label": "Geo²",
                        "products": [
                            {
                                "id": 120,
                                "name": "Joolz Geo² Looks",    
                                "customize": 0,
                                "default": 1,
                                "attributes": [
                                    "pa_bekleding-geo2"
                                ]
                            },
                            {
                                "id": 1232,
                                "name": "Joolz Geo² Tailor",
                                "customize": 1,
                                "default": 0,
                                "attributes": [
                                    "pa_bekleding-geo2",
                                    "pa_chassis-tailor-geo2",
                                    "pa_wielen-geo2",
                                    "pa_accent-tailor-geo2"
                                ]
                            }
                        ]
                    }
                ]
            }
        ]

## Variations [/products/{id}/variations]

### List available variations [GET]

To retrieve all available variations for a product.
Retrieving the variations requires the product ID.

+ Parameters

    + id - The ID of the product

+ Response 200 (application/json)

        {
            "variations": [
                {
                    "id": 67955,
                    "name": "Joolz Day³ Hippo grey",
                    "price": 999,
                    "sku": "500030",
                    "attributes": [
                        {
                            "pa_bekleding": "Hippo grey"   
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67955&user-hash=xxx"
                },
                {
                    "id": 67952,
                    "name": "Joolz Day³ Camel Beige",
                    "price": 999,
                    "sku": "500020",
                    "attributes": [
                        {
                            "pa_bekleding": "Camel beige"
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67952&user-hash=xxx"
                },
                {
                    "id": 67953,
                    "name": "Joolz Day³ Parrot Blue",
                    "price": 999,
                    "sku": "500000",
                    "attributes": [
                        {
                            "pa_bekleding": "Parrot blue"
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67953&user-hash=xxx"
                },
                {
                    "id": 67954,
                    "name": "Joolz Day³ Elephant grey",
                    "price": 999,
                    "sku": "500010",
                    "attributes": [
                        {
                            "pa_bekleding": "Elephant grey"
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67954&user-hash=xxx"
                },
                {
                    "id": 67755,
                    "name": "Joolz Day³ Graphite grey",
                    "price": 1099,
                    "sku": "500099",
                    "attributes": [
                        {
                            "pa_bekleding": "Graphite grey"
                        }
                    ],
                    "cart_link": "/cart/?configurator=true&add-to-cart=67755&user-hash=xxx"
                }
            ]
        }
        
## Accessories [/models/{id}/accessories]

### List available accessories [GET]

To retrieve all available accessories.
Retrieving the accessories requires 
the model ID.

+ Parameters

    + id - The ID of the model
    
+ Response 200 (application/json)

        {
            "accessories": [
                {
                    "id": 1234,
                    "name": "Joolz Bekerhouder",
                    "sku": "50121",
                    "price": 29.95,
                    "variations": [],
                    "cart_link": "/cart/?configurator=true&add-to-cart=1234&user-hash=xxx"
                },
                {
                    "id": 1235,
                    "name": "Joolz Slaapzak",
                    "sku": "",
                    "price": 0,
                    "attributes": [
                        "pa_bekleding"
                    ],
                    "variations": [
                        {
                            "id": 1236,
                            "price": 65,
                            "sku": "501221",
                            "attributes": [
                                {
                                    "pa_bekleding": "Elephant grey"
                                }
                            ],
                            "cart_link": "/cart/?configurator=true&add-to-cart=1235&user-hash=xxx"
                        },
                        {
                            "id": 1237,
                            "price": 99,
                            "sku": "501222",
                            "attributes": [
                                {
                                    "pa_bekleding": "Graphite grey"
                                }
                            ],
                            "cart_link": "/cart/?configurator=true&add-to-cart=1237&user-hash=xxx"
                        }
                    ],
                    "cart_link": ""
                }
                
            ]
        }